---
const projects = [
  {
    title: "Blog Preview Card",
    description:
      "Componente de tarjeta de vista previa desarrollado como parte del programa de Frontend Mentor, siguiendo un modelo de Figma para practicar maquetación y precisión visual.",
    link: "https://blog-preview-card-challenge-black.vercel.app/",
    image: "/Images/BlogPreview.webp",
    github: "https://github.com/LuisCorreaDv/Blog-preview-card-challenge",
    tags: ["HTML", "CSS", "Figma"],
  },
  {
    title: "Task Flow",
    description:
      " Aplicación web para la gestión de tareas, desarrollada con React, TypeScript, Tailwind CSS y Redux. Permite a los usuarios crear, editar y eliminar tareas, así como organizarlas en diferentes categorías.",
    link: "",
    image: "/Images/TaskFlow.webp",
    github: "https://github.com/LuisCorreaDv/task-flow",
    tags: ["React", "TypeScript", "Tailwind CSS", "Redux"],
  },
];
---

{
  projects.map(({ title, description, link, image, github, tags }) => {
    return (
      <a
        href={link}
        target="_blank"
        rel="noopener noreferrer"
        class="flex flex-col w-full bg-white border border-gray-200 rounded-lg shadow-md md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
      >
        <img
          class="object-cover w-full rounded-t-lg h-56 md:h-64 md:w-72 md:rounded-none md:rounded-s-lg"
          src={image}
          alt={`Captura de pantalla del proyecto ${title}`}
        />
        <div class="flex flex-col flex-grow p-4">
          {" "}
          <div>
            <h3 class="text-xl font-bold tracking-tight text-[#3e4979] mb-2 text-balance">
              {title}
            </h3>
            <p class="text-base text-[#332E3C] text-pretty leading-relaxed mb-4">
              {description}
            </p>
          </div>{" "}
          <ul class="flex gap-1.5 flex-wrap">
            {tags.map((tag) => (
              <li class="flex items-center rounded-md text-xs bg-[#2d3648]/10 text-[#2d3648] py-1 px-2 font-medium">
                {tag}
              </li>
            ))}
          </ul>
        </div>
      </a>
    );
  })
}
